<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/createPage.css">

    <!-- Ensure the path above is correct -->
</head>
<body>
    <div class="form">
        <form action="/postBlog" method="post">
            <div class="header">
                <div>
                    <h3 style="margin: 0; text-align: center;">Create Post</h3>
                    <hr>
                </div>
                
            </div>
    
            <div>
                <label for="title">Title  :</label><br>
                <input type="text" id="title" name="Title"/>
            </div>
    
            <div class="blog_post">
                <label for="blog">Blog : </label><br>
                <input type="text" id="blog" name="Blog">
            </div>
    
            <div>
                <button type="submit"> Post </button>
            </div>
            
        </form>
    </div>
</body>
</html>