.article_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 1rem;
    /* background-color: rgb(241, 148, 241); */
    padding: 1rem;
}

button{
    border: none;
    border-radius: 0.6rem;
    padding: 8px;
}

.view, .delete{
    margin-right: 1rem;
}
